/* add */
.title {
  font-size: 1.5em;
  /* font-weight: bold; */
  color: #06103d;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
  padding: 0.5em;
}
.title-small{
  font-size: 1em;
  /* font-weight: bold; */
  color: #06103d;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
  padding: 0.5em;
}
.title-big {
  font-size: 2.5em;
  font-weight: bold;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
  color: #06103d;
  padding-bottom: 0.5em;
}
header{
  background-color: hsla(231, 4%, 61%, 0.226);
  
}
body{
  margin: 0;
}